@model MVC.Models.PageFeedsModel
@{
    ViewBag.Title = "feedFeeds";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    var pageid = Session["pageid"] as String;
}

<div class="row gutters">
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <a href="/Page/Post">Post to page</a>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <a href="/Page/Comment?id=@pageid">Auto comment</a>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12" >
        <div class="card h-100">
            <div class="card-body">
                <div class="row gutters">
                    @foreach (var feed in Model.datas)
                    {
                    <div style="padding: 10px 5px; margin: 15px 10px; width: 100%; box-shadow: 0 0 10px #719ECE; border-radius: 5px;">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            ID : @feed.id
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <details>
                                <summary>
                                    <span><i class="material-icons"><a target="_blank" href="https://facebook.com/@feed.id" style="text-decoration:none;">View on FaceBook</a></i></span>
                                </summary>
                            </details>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            MESSAGE : @feed.message
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            CREATE_TIME : @(feed.created_time)
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            FROM : @feed.from.name
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            TOTAL_LIKE : @feed.likes.summary.total_count |
                            TOTAL_COMMENT : @feed.comments.summary.total_count
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>