@model MVC.Models.FeedsModel
@{
    ViewBag.Title = "Feed";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row gutters">
   @* <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <a href="/Group/Post">Post to groups</a>
    </div>*@
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="row gutters">
                    @foreach (var feed in Model.datas)
                    {
                    <div style="padding: 10px 5px; margin: 15px 10px; width: 100%; box-shadow: 0 0 10px #719ECE; border-radius: 5px;">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            ID : @feed.id
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <details>
                                <summary>
                                    <span><i class="material-icons"><a target="_blank" href="https://facebook.com/@feed.id" style="text-decoration:none;">Link to this feed</a></i></span>
                                </summary>
                            </details>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            CAPTION : @(feed.caption == null ? "Unknown" : feed.caption)
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            MESSAGE : @(feed.message == null ? "Unknown" : feed.message)
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            CREATE_TIME : @(feed.created_time == null ? "Unknown" : feed.created_time)
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            TOTAL_LIKE : @(feed.comments.Summary.total_count)
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            TOTAL_SHARE : @(feed.shares == null ? "0" : feed.shares.count)
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            @* <details>
                <summary>
                    <span><i class="material-icons"><a target="_blank" href="@feed.full_picture" style="text-decoration:none;">View picture</a></i></span>
                </summary>
            </details>*@
                            <img src="@feed.full_picture" style="width:100px; height:100px;" />
                        </div>
                        @*<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <details class="mb-3">
                <summary>
                    <span><i class="material-icons"><a href="/Group/Feed/@post.id" style="text-decoration:none;">See all posts</a></i></span>
                </summary>
                <br />
            </details>
        </div>*@

                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



